body {
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 90%);

}

.calculator {
    max-width: 400px;
    background-color: hsl(0, 0%, 15%);
    margin: 5rem;
    overflow: hidden;
    border-radius: 20px;
    border: 10px solid hsl(0, 0%, 30%);
    
}

.display {
    width: 100%;
    padding: 2rem;
    border: none;
    font-size: 3rem;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%)
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operator-button {
    background-color: hsl(117, 100%, 25%);
}

.operator-button:hover {
    background-color: hsl(117, 100%, 35%);
}

.operator-button:active {
    background-color: hsl(117, 100%, 45%);
    
}